body {
    background-color: #ecf0f1;
    padding: 8px;
}

h2 {
    background-color: #bdc3c7;
    padding: 8px;
}

h3 {
    background-color: #3498db;
    padding: 8px;
}

.warning {
    background-color: #e74c3c;
    padding: 8px;
}

.syntaxbox {
    overflow-x: scroll;
}

dd {
    margin-bottom: 16px;
}

div.table-wrapper {
    width: 100%;
	overflow-x: scroll;
}

table.fullwidth-table {
    width: 200%;
}

table,tr,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}
